*.icloud
*.pyc
/YTReviewsAPI/build/*
/YTReviewsAPI/venv/*
/YTReviewsAPI/env/*
/YTReviewsAPI/dist/*
/provisioning/vars.yml
*.db
.DS_Store
*.env
/YTReviewsAPI/YTReviewsAPI.egg-info/*
/YTReviewsAPI/certs/*