# Don't track content of the cache
YouTubeAuth/
YTReviewsAPI/__pycache__
YTReviewsAPI/app/__pycache__
YTReviewsAPI/app/api/__pycache__
YTReviewsAPI/migrations/__pycache__
YTReviewsAPI/migrations/versions/__pycache__

# Dont include any database files
YTReviewsAPI/migrations

# Ignore the pycache files
*.pyc

# Ignore the pickled auth files
*.pkl

# Ignore the database
*.db








