<!DOCTYPE html>
<html lang="en">
<HEAD>
	<title>Data Control Center</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="{{ url_for('static', filename='control.js') }}"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
	<div class="jumbotron">
	  <h1 class="text-center">Data Control Center</h1> 
	  <p class="text-center">A webpage to monitor, start, and stop the data collection process</p> 
	</div>
</HEAD>
<body>
	<div class="row">
		<div class="col-sm-6">
			<h2 class="text-center" id="current_year">Current Year: 2018</h2>
			<h4 id="Current_Media" class="text-center">Current Movie: N/A</h4>
			<ol id="Media_List" class="list-group">
			</ol>
			<button type="button" id="dataCollectionButton" class="btn btn-warning">Start Data Collection</button>
		</div>
		<div class="col-sm-6">
			<h2 class="text-center">Status</h2>
			<button type="button" id="dataRemoveButton" class="btn btn-warning" disabled="true">Remove Entry</button>
			<button type="button" id="dataAddButton" class="btn btn-warning" disabled="true">Add Entry</button>
		</div>
		
	</div>	
	<script>
		$(document).ready(function() {
			getTitlesByYear(2014, function() { 
				$.get("/api/web/serverstatus", function(data, status) {
					var liElement = $("li").get(data.CurrentMovie);
					$("#current_year").text("Current Year: " + data.currentYear);

					liElement.className = "list-group-item list-group-item-success";

					$("#Current_Media").text("Current Movie: " +  liElement.innerHTML);

					$("li").click(function() {
						$("#dataRemoveButton").prop('disabled', false);
						$("#dataAddButton").prop('disabled', false);
						$('.active').removeClass('active');
					    $(this).addClass('active');
					});
				});
			});
		});

		$(document).ready(function() {
			$("#dataRemoveButton").click(function() {
				$.ajax({
					type: "DELETE",
					url: '/api/web/mediaentry/' + $(".active").text(),
					async: false,
					success: function() {
						$(".active").addClass("list-group-item-danger");
						$('.active').removeClass('active');
					},
					error: function() {
						alert("Removal failed");
					}
				});
			});
		});

		$(document).ready(function() {
			$("#dataAddButton").click(function() {
				$.ajax({
					type: "POST",
					url: '/api/web/mediaentry/' + $(".active").text(),
					async: false,
					success: function() {
						$(".active").addClass("list-group-item-success");
						$('.active').removeClass('active');
					},
					error: function() {
						alert("Removal failed");
					}
				});
			});
		});



		function updateServerStatus() {
			$.get("/api/web/serverstatus", function(data, status) {
				var liElement = $("li").get(data.CurrentMovie);
				$("#current_year").text("Current Year: " + data.currentYear);

				liElement.className = "list-group-item list-group-item-success";

				$("#Current_Media").text("Current Movie: " +  liElement.innerHTML);

				if (data.isRunning == true) {
					$("#dataCollectionButton").prop('disabled', true);
				} else {
					setTimeout(function () {
						$("#dataCollectionButton").prop('disabled', false);
					}, 5000);
					
				}
			});
		}

		setInterval(updateServerStatus, 5000);

		$("#dataCollectionButton").click( function() {
			$("#dataCollectionButton").prop('disabled', true);
			$.ajax
			({
		        type: "POST",
		        //the url where you want to sent the userName and password to
		        url: '/api/web/controlauthentication',
		        contentType: 'application/json',
		        async: false,
		        //json object to sent to the authentication url
		        data: JSON.stringify({"maxVideos": "2"}),
		        success: function () {
					alert("Server Started!"); 
		        }
		    });

		});

		

	</script>
</body>