[program:ytreviewsapi]
command=/home/ubuntu/venv/bin/gunicorn -w4 YTReviewsAPI:app
directory=/home/ubuntu/OneReview_Data_Collection/YTReviewsAPI
user=ubuntu
autostart=true
autorestart=true
stopasgroup=true
killasgroup=true