graft app/static
graft app/templates
graft certs
graft migrations
include app/movieTitles.txt
include app/service1.pkl
include app/api/service1.pkl
include .env
global-exclude *.pyc
global-exclude *.icloud
exclude venv
exclude env
