graft app/static
graft app/templates
graft certs
graft migrations
include movieTitles.txt
include service1.pkl
include app/api/service1.pkl
include videoCaptions.py
include YTReviewsAPI.py
include .env
global-exclude *.pyc
global-exclude *.icloud
exclude venv
exclude env
